In [48]:
import json
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from collections import defaultdict
import seaborn as sns
import csv
import sqlite3
import pandasql

In [65]:
#Final dataframe init
final_df = pd.read_csv('../data/final.csv')

In [66]:
#Fill null values in Director(primary_name) and Genre with 'Unknown'
final_df.loc[:, ['primary_name', 'genre']] = final_df.loc[:, ['primary_name', 'genre']].fillna(value = 'Unknown', axis = 1)

#Creating new column for Director Experience (# of movies in curated df)

dir_counts = final_df['primary_name'].value_counts()
final_df['director_experience'] = final_df['primary_name'].map(dir_counts)

#Getting rid of 'Unknown' values

unk_dir_mask = final_df['primary_name'].isin(['Unknown'])
final_df = final_df.loc[~unk_dir_mask]

#Curating df for director analysis

dir_df = final_df[['primary_name', 'director_experience', 'title', 'production_budget', 'genre', 'roi']].copy()
dir_df.head()

,primary_name,director_experience,title,production_budget,genre,roi
0,Lawrence Kasanoff,1,Foodfight!,45000000.0,Family Animation Comedy Action,-0.998362
1,Simon McQuoid,1,Mortal Kombat,20000000.0,Fantasy Adventure Action,5.106661
2,Jed I. Goodman,1,The Overnight,200000.0,Mystery Comedy,4.829980
3,Walter Salles,1,On the Road,25000000.0,Romance Drama Adventure,-0.627468
4,Ben Stiller,2,The Secret Life of Walter Mitty,91000000.0,Fantasy Comedy Drama Adventure,1.064409

In [67]:
#Initial Director Experience filter
experience_filter = [1, 2, 3]

exp_dir_mask = dir_df['director_experience'].isin(experience_filter)

experienced_dir_df = dir_df.loc[~exp_dir_mask]

experienced_dir_df.head()

,primary_name,director_experience,title,production_budget,genre,roi
13,Shawn Levy,4,Real Steel,110000000.0,Drama Family Sci-Fi Action,1.398912
17,Steven Spielberg,8,Lincoln,65000000.0,Biography Drama History,3.205327
26,Antoine Fuqua,5,The Equalizer,55000000.0,Crime Thriller Action,2.507339
33,Simon West,5,The Mechanic,42500000.0,Crime Thriller Action,0.796409
40,Martin Scorsese,4,Silence,46500000.0,History Drama Adventure,-0.489750

In [68]:
#Getting rid of duplicate values

no_dup_exp_dir_df = experienced_dir_df.drop_duplicates(
  subset = ['primary_name', 'title'],
  keep = 'last').reset_index(drop = True)

In [69]:
#Fixing Director Experience
dir_counts = no_dup_exp_dir_df['primary_name'].value_counts()

no_dup_exp_dir_df['director_experience'] = no_dup_exp_dir_df['primary_name'].map(dir_counts)

In [70]:
#Curating Experience Filter to include directors with 3 titles in df

experience_filter = [1, 2]

exp_dir_mask = no_dup_exp_dir_df['director_experience'].isin(experience_filter)

no_dup_exp_dir_df_actual = no_dup_exp_dir_df.loc[~exp_dir_mask]

In [71]:
#Creation of 'Golden List' aka 'Top 20 Directors by Avg. ROI'

golden_list = no_dup_exp_dir_df_actual.groupby('primary_name').roi.mean().reset_index().sort_values(by='roi', ascending = False).head(20)

In [72]:
#Creation of alphabetically ordered list of directors for manual calculations

ordered_exp_dir_list = no_dup_exp_dir_df_actual.sort_values(by =['director_experience', 'roi'], ascending = [False, False]).groupby('primary_name')

In [73]:
for key, item in ordered_exp_dir_list:
    print(ordered_exp_dir_list.get_group(key), "\n\n")

      primary_name  director_experience                  title  \
2    Antoine Fuqua                    5          The Equalizer
92   Antoine Fuqua                    5               Southpaw
157  Antoine Fuqua                    5        The Equalizer 2
122  Antoine Fuqua                    5     Olympus Has Fallen
127  Antoine Fuqua                    5  The Magnificent Seven

     production_budget                     genre       roi
2           55000000.0     Crime Thriller Action  2.507339
92          30000000.0        Sport Drama Action  2.138549
157         77000000.0     Crime Thriller Action  1.473417
122         70000000.0           Thriller Action  1.469699
127         90000000.0  Western Adventure Action  0.805835


    primary_name  director_experience  \
113  Brad Peyton                    5
52   Brad Peyton                    5
119  Brad Peyton                    5
145  Brad Peyton                    5
40   Brad Peyton                    5

                                        title  production_budget  \
113                               San Andreas        110000000.0
52           Journey 2: The Mysterious Island         79000000.0
119                                   Rampage        120000000.0
145                                 Incarnate          5000000.0
40   Cats & Dogs: The Revenge of Kitty Galore         85000000.0

                               genre       roi
113  Thriller Drama Adventure Action  3.147805
52    Comedy Adventure Sci-Fi Action  3.027167
119  Fantasy Adventure Sci-Fi Action  2.567136
145                  Horror Thriller  0.874207
40      Family Fantasy Comedy Action  0.329722


     primary_name  director_experience                       title  \
86   Bryan Singer                    4           Bohemian Rhapsody
100  Bryan Singer                    4  X-Men: Days of Future Past
149  Bryan Singer                    4           X-Men: Apocalypse
44   Bryan Singer                    4       Jack the Giant Slayer

     production_budget                            genre        roi
86          55000000.0          Biography Drama Musical  15.272461
100        200000000.0  Fantasy Adventure Sci-Fi Action   2.739314
149        178000000.0  Fantasy Adventure Sci-Fi Action   2.047964
44         195000000.0  Family Fantasy Adventure Action   0.013783


           primary_name  director_experience  \
173  Christopher Landon                    4
129  Christopher Landon                    4
182  Christopher Landon                    4
85   Christopher Landon                    4

                                     title  production_budget  \
173                        Happy Death Day          5000000.0
129   Paranormal Activity: The Marked Ones          5000000.0
182                     Happy Death Day 2U          9000000.0
85   Scouts Guide to the Zombie Apocalypse         15000000.0

                       genre        roi
173  Mystery Horror Thriller  24.002052
129  Mystery Horror Thriller  17.180971
182     Mystery Horror Drama   6.131055
85      Horror Comedy Action   0.036990


          primary_name  director_experience                  title  \
46   Christopher Nolan                    4              Inception
6    Christopher Nolan                    4           Interstellar
43   Christopher Nolan                    4  The Dark Knight Rises
171  Christopher Nolan                    4                Dunkirk

     production_budget                        genre       roi
46         160000000.0      Adventure Sci-Fi Action  4.222029
6          165000000.0       Drama Adventure Sci-Fi  3.038663
43         275000000.0  Crime Thriller Drama Action  2.943415
171        150000000.0     War Drama History Action  2.332249


       primary_name  director_experience               title  \
115  Clint Eastwood                    7     American Sniper
146  Clint Eastwood                    7               Sully
181  Clint Eastwood                    7            The Mule
77   Clint Eastwood                    7            J. Edgar
29   Clint Eastwood                    7           Hereafter
178  Clint Eastwood                    7  The 15:17 to Paris
87   Clint Eastwood                    7         Jersey Boys

     production_budget                             genre       roi
115         58000000.0        War Biography Drama Action  8.436662
146         60000000.0           Biography Drama History  2.975409
181         50000000.0       Crime Thriller Drama Comedy  2.417154
77          35000000.0     Crime Biography Drama History  1.417315
29          50000000.0             Fantasy Romance Drama  1.173205
178         30000000.0  Biography Drama History Thriller  0.869873
87          40000000.0           Biography Drama Musical  0.632068


        primary_name  director_experience               title  \
175  Craig Gillespie                    4            I, Tonya
81   Craig Gillespie                    4  Million Dollar Arm
58   Craig Gillespie                    4        Fright Night
110  Craig Gillespie                    4    The Finest Hours

     production_budget                          genre       roi
175         11000000.0         Biography Drama Comedy  3.890674
81          25000000.0          Sport Biography Drama  0.568716
58          30000000.0                  Horror Comedy  0.350688
110         70000000.0  Thriller Drama History Action -0.296389


    primary_name  director_experience          title  production_budget  \
48    David Ayer                    4  Suicide Squad        175000000.0
95    David Ayer                    4   End of Watch         15000000.0
134   David Ayer                    4           Fury         80000000.0
88    David Ayer                    4       Sabotage         35000000.0

                                     genre       roi
48   Action Crime Sci-Fi Fantasy Adventure  3.263199
95             Crime Thriller Drama Action  2.839107
134                       War Drama Action  1.628946
88             Crime Thriller Drama Action -0.474959


           primary_name  director_experience          title  \
64   David Gordon Green                    6      Halloween
45   David Gordon Green                    6     The Sitter
34   David Gordon Green                    6  Your Highness
161  David Gordon Green                    6       Stronger
139  David Gordon Green                    6     Manglehorn
126  David Gordon Green                    6            Joe

     production_budget                                         genre       roi
64          15000000.0                               Horror Thriller  4.167627
45          25000000.0                                        Comedy  0.549976
34          50000000.0  Action Drama Comedy Sci-Fi Fantasy Adventure -0.477567
161         30000000.0                               Biography Drama -0.707108
139          4000000.0                                         Drama -0.800640
126          4000000.0                                   Crime Drama -0.906656


        primary_name  director_experience                    title  \
9   David O. Russell                    4              The Fighter
17  David O. Russell                    4  Silver Linings Playbook
93  David O. Russell                    4          American Hustle
23  David O. Russell                    4          Accidental Love

    production_budget                  genre        roi
9          11000000.0  Sport Biography Drama  10.751126
17         21000000.0   Romance Drama Comedy  10.257736
93         40000000.0            Crime Drama   5.446957
23         26000000.0         Romance Comedy  -0.994791


         primary_name  director_experience              title  \
130  Denis Villeneuve                    6            Arrival
150  Denis Villeneuve                    6            Sicario
51   Denis Villeneuve                    6          Prisoners
36   Denis Villeneuve                    6          Incendies
97   Denis Villeneuve                    6  Blade Runner 2049
25   Denis Villeneuve                    6               Dune

     production_budget                                 genre       roi
130         47000000.0                  Mystery Drama Sci-Fi  3.321870
150         30000000.0           Crime Thriller Drama Action  1.813125
51          46000000.0          Crime Thriller Drama Mystery  1.465267
36           6800000.0                     Mystery War Drama  1.358580
97         185000000.0  Action Drama Sci-Fi Mystery Thriller  0.401932
25          45000000.0                Drama Adventure Sci-Fi -0.390056


         primary_name  director_experience  \
103  Francis Lawrence                    5
104  Francis Lawrence                    5
105  Francis Lawrence                    5
18   Francis Lawrence                    5
138  Francis Lawrence                    5

                                     title  production_budget  \
103        The Hunger Games: Catching Fire        130000000.0
104  The Hunger Games: Mockingjay - Part 1        125000000.0
105  The Hunger Games: Mockingjay - Part 2        160000000.0
18                     Water for Elephants         38000000.0
138                            Red Sparrow         69000000.0

                                genre       roi
103           Adventure Sci-Fi Action  5.652831
104  Thriller Adventure Sci-Fi Action  5.132601
105           Adventure Sci-Fi Action  3.056167
18                      Romance Drama  2.073940
138     Mystery Thriller Drama Action  1.115244


    primary_name  director_experience          title  production_budget  \
74     James Wan                    4      Insidious          1500000.0
61     James Wan                    4  The Conjuring         20000000.0
136    James Wan                    4      Furious 7        190000000.0
62     James Wan                    4        Aquaman        160000000.0

                        genre        roi
74    Mystery Horror Thriller  65.580591
61    Mystery Horror Thriller  14.900007
136     Crime Thriller Action   6.993278
62   Fantasy Adventure Action   6.168092


           primary_name  director_experience          title  \
163  Jaume Collet-Serra                    5   The Shallows
109  Jaume Collet-Serra                    5       Non-Stop
54   Jaume Collet-Serra                    5        Unknown
73   Jaume Collet-Serra                    5   The Commuter
117  Jaume Collet-Serra                    5  Run All Night

     production_budget                                   genre       roi
163         13000000.0                   Horror Drama Thriller  8.135649
109         50000000.0  Action Drama movie Mystery Thriller TV  3.447661
54          40000000.0                 Mystery Thriller Action  2.403077
73          40000000.0                 Mystery Thriller Action  1.549636
117         50000000.0                   Thriller Drama Action  0.339233


    primary_name  director_experience          title  production_budget  \
167   Joe Wright                    4   Darkest Hour         30000000.0
14    Joe Wright                    4          Hanna         30000000.0
90    Joe Wright                    4  Anna Karenina         49000000.0
147   Joe Wright                    4            Pan        150000000.0

                               genre       roi
167          Biography Drama History  4.026906
14   Thriller Drama Adventure Action  1.178123
90                     Romance Drama  0.449074
147  Family Comedy Fantasy Adventure  0.010173


    primary_name  director_experience                                  title  \
57   John Madden                    4         The Best Exotic Marigold Hotel
131  John Madden                    4  The Second Best Exotic Marigold Hotel
33   John Madden                    4                               The Debt
166  John Madden                    4                            Miss Sloane

     production_budget                 genre        roi
57          10000000.0  Romance Drama Comedy  12.463978
131         10000000.0          Drama Comedy   8.038431
33          20000000.0        Thriller Drama   1.330203
166         18000000.0        Thriller Drama  -0.571132


    primary_name  director_experience                           title  \
143   Jon M. Chu                    6               Crazy Rich Asians
84    Jon M. Chu                    6  Justin Bieber: Never Say Never
27    Jon M. Chu                    6                      Step Up 3D
144   Jon M. Chu                    6                Now You See Me 2
71    Jon M. Chu                    6           G.I. Joe: Retaliation
153   Jon M. Chu                    6           Jem and the Holograms

     production_budget                                   genre       roi
143         30000000.0                    Romance Drama Comedy  6.936657
84          13000000.0              Documentary Family Musical  6.618010
27          30000000.0                   Romance Drama Musical  4.529637
144         90000000.0        Comedy Thriller Adventure Action  2.648056
71         140000000.0        Thriller Adventure Sci-Fi Action  1.683862
153          5000000.0  Drama Adventure Musical Fantasy Family -0.526213


        primary_name  director_experience             title  \
42   Jonathan Levine                    4             50/50
72   Jonathan Levine                    4       Warm Bodies
151  Jonathan Levine                    4  The Night Before
114  Jonathan Levine                    4         Long Shot

     production_budget                       genre       roi
42           8000000.0        Romance Drama Comedy  4.166842
72          30000000.0       Romance Horror Comedy  2.837387
151         25000000.0    Comedy Fantasy Adventure  1.097094
114         40000000.0  Romance Comedy Documentary  0.092776


    primary_name  director_experience        title  production_budget  \
47   Kevin Smith                    4      Cop Out         37000000.0
142  Kevin Smith                    4         Tusk          3000000.0
7    Kevin Smith                    4    Red State          4000000.0
159  Kevin Smith                    4  Yoga Hosers          5000000.0

                            genre       roi
47            Crime Comedy Action  0.511079
142  Horror Drama Comedy Thriller -0.370815
7    Crime Horror Thriller Action -0.504101
159  Horror Fantasy Comedy Action -0.995408


       primary_name  director_experience                    title  \
15  Martin Scorsese                    4  The Wolf of Wall Street
22  Martin Scorsese                    4           Shutter Island
10  Martin Scorsese                    4                     Hugo
4   Martin Scorsese                    4                  Silence

    production_budget                         genre       roi
15        100000000.0  Crime Biography Drama Comedy  2.898704
22         80000000.0        Mystery Thriller Drama  2.743272
10        180000000.0        Family Drama Adventure  0.000265
4          46500000.0       History Drama Adventure -0.489750


       primary_name  director_experience                         title  \
135  Matthew Vaughn                    4  Kingsman: The Secret Service
170  Matthew Vaughn                    4   Kingsman: The Golden Circle
35   Matthew Vaughn                    4                      Kick-Ass
37   Matthew Vaughn                    4            X-Men: First Class

     production_budget                          genre       roi
135         94000000.0  Crime Comedy Adventure Action  3.303848
170        104000000.0        Comedy Adventure Action  2.930805
35          28000000.0            Crime Comedy Action  2.483255
37         160000000.0        Adventure Sci-Fi Action  1.221302


    primary_name  director_experience                            title  \
53   Michael Bay                    4   Transformers: Dark of the Moon
112  Michael Bay                    4  Transformers: Age of Extinction
107  Michael Bay                    4                      Pain & Gain
148  Michael Bay                    4    Transformers: The Last Knight

     production_budget                             genre       roi
53         195000000.0           Adventure Sci-Fi Action  4.763028
112        210000000.0           Adventure Sci-Fi Action  4.257329
107         26000000.0      Crime Thriller Comedy Action  2.125973
148        217000000.0  Thriller Adventure Sci-Fi Action  1.778310


         primary_name  director_experience                         title  \
108  Nicholas Stoller                    4                     Neighbors
164  Nicholas Stoller                    4  Neighbors 2: Sorority Rising
32   Nicholas Stoller                    4          Get Him to the Greek
28   Nicholas Stoller                    4      The Five-Year Engagement

     production_budget                     genre        roi
108         18000000.0                    Comedy  14.052468
164         35000000.0                    Comedy   2.107361
32          40000000.0  Comedy Adventure Musical   1.286397
28          30000000.0            Romance Comedy   1.054127


    primary_name  director_experience           title  production_budget  \
63     Paul Feig                    4     Bridesmaids         32500000.0
128    Paul Feig                    4        The Heat         43000000.0
179    Paul Feig                    4  A Simple Favor         20000000.0
41     Paul Feig                    4    Ghostbusters        144000000.0

                                   genre       roi
63                        Romance Comedy  7.911755
128                  Crime Comedy Action  4.342506
179  Drama Comedy Crime Mystery Thriller  3.881436
41                 Fantasy Comedy Action  0.590338


           primary_name  director_experience  \
132  Paul W.S. Anderson                    5
31   Paul W.S. Anderson                    5
96   Paul W.S. Anderson                    5
66   Paul W.S. Anderson                    5
102  Paul W.S. Anderson                    5

                                title  production_budget  \
132  Resident Evil: The Final Chapter         40000000.0
31           Resident Evil: Afterlife         57500000.0
96         Resident Evil: Retribution         65000000.0
66               The Three Musketeers         90000000.0
102                           Pompeii         80000000.0

                                      genre       roi
132                    Horror Sci-Fi Action  6.852530
31           Horror Adventure Sci-Fi Action  4.145638
96                     Horror Sci-Fi Action  2.702271
66        Romance Thriller Adventure Action  0.554199
102  Action Drama Romance History Adventure  0.355863


    primary_name  director_experience              title  production_budget  \
20    Peter Berg                    5      Lone Survivor         40000000.0
168   Peter Berg                    5            Mile 22         35000000.0
59    Peter Berg                    5         Battleship        220000000.0
169   Peter Berg                    5       Patriots Day         40000000.0
99    Peter Berg                    5  Deepwater Horizon        156000000.0

                                   genre       roi
20            War Biography Drama Action  2.745116
168            Thriller Adventure Action  0.894146
59      Thriller Adventure Sci-Fi Action  0.424899
169  Action Drama Crime History Thriller  0.320950
99                  Drama History Action -0.214078


     primary_name  director_experience                   title  \
154  Ridley Scott                    6             The Martian
60   Ridley Scott                    6              Prometheus
116  Ridley Scott                    6           The Counselor
123  Ridley Scott                    6         Alien: Covenant
68   Ridley Scott                    6  Exodus: Gods and Kings
8    Ridley Scott                    6              Robin Hood

     production_budget                     genre       roi
154        108000000.0    Drama Adventure Sci-Fi  5.067328
60         125000000.0  Mystery Adventure Sci-Fi  2.219586

In [74]:
#Manual Entry and Analysis of Golden List Top Performing Genres
top_perf_genre = ['Outlier', 'Outlier', 'Thriller-Horror+Mystery / Action', 'Thriller-Horror/Sci-fi', 'Thriller-Horror/Mystery', 'Thriller-Horror+Mystery / Action-Fantasy+Adventure', 'Musical-Drama', 'Outlier', 'Comedy-Romance/Adventure', 'Drama / Romance', 'Adventure-Family+Comedy / Adventure - Crime', 'Comedy-Flex', 'Drama', 'Drama-Action/Comedy', 'Sci-fi-Action/Thriller', 'Outlier', 'Drama-Sport/Crime', 'X-Men / Music', 'Adventure-Family/Drama / Animation', 'Comedy-Romance/Adventure / Animation']
golden_list['top_performing_genre'] = top_perf_genre

#Attempt at code for Avg Budget column

#golden_list['average budget'] = no_dup_exp_dir_df_actual.groupby('primary_name')['production_budget'].mean()

In [75]:
#Creation of Hardcoded Avg Budget column

golden_list['average budget'] = [18887500, 66975000, 92875000, 62000000, 8500000, 66000000, 83300000, 79300000, 49666667, 4333333, 109333333, 31375000, 12000000, 20116667, 108500000, 14500000, 31600000, 157000000, 92100000, 39500000]

In [76]:
#Hardcoding values for 'Chance of Positive ROI' Calculation (couldnt pull data from prev. dataframes for some reason)
golden_list['num_pos_mov'] =         [2, 4, 4, 5, 4, 3, 3, 3, 3, 3, 2, 4, 3, 5, 3, 3, 4, 4, 3, 4]
golden_list['director_experience'] = [6, 4, 4, 5, 4, 3, 3, 3, 3, 3, 3, 4, 3, 6, 3, 4, 5, 4, 3, 4]


#Attempt at code for columns

#golden_list['num_pos_mov'] = no_dup_exp_dir_df_actual['primary_name'][['roi'] if ['roi'].index() > 0].sum()
#golden_list['director_experience'] = no_dup_exp_dir_df_actual['director_experience']

In [77]:
#Chance of success based on genre, values from Heath's table
golden_list['genre_values'] = [0.59, 0.59, 0.59, 0.59, 0.59, 0.59, 0.6, 0.68, 0.67, 0.58, 0.76, 0.67, 0.58, 0.58, 0.68, 0.52, 0.58, 0.60, 0.83, 0.83]

In [78]:
#Calculation and Creation of 'Chance of Pos ROI' Column
golden_list['Chance of Pos ROI (%)'] = ((golden_list.genre_values)*((golden_list.num_pos_mov)/(golden_list.director_experience)))*100

In [79]:
# look at directors that match our top genre recommendations
golden_list

,primary_name,roi,top_performing_genre,average budget,num_pos_mov,director_experience,genre_values,Chance of Pos ROI (%)
12,James Wan,23.410492,Outlier,18887500,2,6,0.59,19.666667
3,Christopher Landon,11.837767,Outlier,66975000,4,4,0.59,59.000000
9,David O. Russell,6.365257,Thriller-Horror+Mystery / Action,92875000,4,4,0.59,59.000000
31,Steven Soderbergh,5.914333,Thriller-Horror/Sci-fi,62000000,5,5,0.59,59.000000
15,John Madden,5.315370,Thriller-Horror/Mystery,8500000,4,4,0.59,59.000000
2,Bryan Singer,5.018380,Thriller-Horror+Mystery / Action-Fantasy+Adven...,66000000,3,3,0.59,59.000000
36,Will Gluck,4.701875,Musical-Drama,83300000,3,3,0.60,60.000000
22,Nicholas Stoller,4.625088,Outlier,79300000,3,3,0.68,68.000000
23,Paul Feig,4.181509,Comedy-Romance/Adventure,49666667,3,3,0.67,67.000000
34,Tim Story,3.731528,Drama / Romance,4333333,3,3,0.58,58.000000
16,Jon M. Chu,3.648335,Adventure-Family+Comedy / Adventure - Crime,109333333,2,3,0.76,50.666667
11,Francis Lawrence,3.406157,Comedy-Flex,31375000,4,4,0.67,67.000000
21,Michael Bay,3.231160,Drama,12000000,3,3,0.58,58.000000
37,Woody Allen,3.218589,Drama-Action/Comedy,20116667,5,6,0.58,48.333333
13,Jaume Collet-Serra,3.175051,Sci-fi-Action/Thriller,108500000,3,3,0.68,68.000000
4,Christopher Nolan,3.134089,Outlier,14500000,3,4,0.52,39.000000
24,Paul W.S. Anderson,2.922100,Drama-Sport/Crime,31600000,4,5,0.58,46.400000
32,Steven Spielberg,2.693897,X-Men / Music,157000000,4,4,0.60,60.000000
5,Clint Eastwood,2.560241,Adventure-Family/Drama / Animation,92100000,3,3,0.83,83.000000
20,Matthew Vaughn,2.484802,Comedy-Romance/Adventure / Animation,39500000,4,4,0.83,83.000000